# /etc/confd/templates/dotenv.tmpl
APP_DEBUG={{getv "/affinity/demo/APP_DEBUG"}}
APP_ENV={{getv "/affinity/demo/APP_ENV"}}
APP_KEY={{getv "/affinity/demo/APP_KEY"}}
DB_HOST={{getv "/affinity/demo/DB_HOST"}}
DB_DATABASE={{getv "/affinity/demo/DB_DATABASE"}}
DB_PORT={{getv "/affinity/demo/DB_PORT"}}
DB_USERNAME={{getv "/affinity/demo/DB_USERNAME"}}
DB_PASSWORD={{getv "/affinity/demo/DB_PASSWORD"}}
MAIL_DRIVER={{getv "/affinity/demo/MAIL_DRIVER"}}
MAIL_HOST={{getv "/affinity/demo/MAIL_HOST"}}
MAIL_PORT={{getv "/affinity/demo/MAIL_PORT"}}
MAIL_USERNAME={{getv "/affinity/demo/MAIL_USERNAME"}}
MAIL_ENCRYPTION={{getv "/affinity/demo/MAIL_ENCRYPTION"}}
MAIL_PASSWORD={{getv "/affinity/demo/MAIL_PASSWORD"}}
